<div class="fluid">
  <img src="https://i.ibb.co/RzfyHkR/lp2.jpg" class="img-fluid w-100 " alt="lp2">
</div>

<%# <div id="clockdiv"></div>
<div id="clockdiv">
    Days: <span class="days"></span><br>
    Hours: <span class="hours"></span><br>
    Minutes: <span class="minutes"></span><br>
    Seconds: <span class="seconds"></span>
</div> %>
<!--<div id="clockdiv">
  <div>
    <span class="days"></span>
    <div class="smalltext"><%= t(".days") %></div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="smalltext"><%= t(".hours") %></div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext"><%= t(".minutes") %></div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext"><%= t(".seconds") %></div>
  </div>
</div>-->