<h1>Editing wtransaction</h1>

<%= render "form", wtransaction: @wtransaction %>

<br>

<div>
  <%= link_to "Show this wtransaction", @wtransaction %> |
  <%= link_to "Back to wtransactions", wtransactions_path %>
</div>
