<div id="<%= dom_id ticket %>">
  <p>
    <strong>User:</strong>
    <%= ticket.user_id %>
  </p>

  <p>
    <strong>Wt:</strong>
    <%= ticket.wtransaction_id %>
  </p>

  <p>
    <strong>Rental:</strong>
    <%= ticket.rental_id %>
  </p>

</div>
