<section class="px-4 py-5 gradient-custom" style=" border-radius: .5rem .5rem 0 0;">
<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-12 col-md-8 col-lg-6 col-xl-6">
    <div class="card shadow-2-strong" style="border-radius: 1rem;">
      <div class="margenesT" class="card-body p-5">
        <div class="titleT">
          <h2 class="mb-4 text-center">Nueva licencia</h2>
        </div>
        <div>
        <%= render "form", license: @license %>
        <%#= link_to "Volver", licenses_path, class:"btn btn-sm " %>
        <%= link_to "Omitir", profile_path(current_user), class:"btn btn-sm " %>
        </div>
      </div>
    </div>
  </div>
</div>
</section>