<div class="row d-flex justify-content-center align-items-center vh-100 gradient-custom">
  <div class="col-12 col-md-8 col-lg-6 col-xl-6 col-xxl-4">
    <div class="card shadow" style="border-radius: 1rem;">
      <h2 class="d-flex justify-content-center my-2">Multa</h2> 
      <div class="card-body p-5 m-5 text center border">
        <%= render @multum %>
    </div>
  </div>
</div>
