<div class="about-section">
  <h1>Acerca de nosotros</h1>
  <p>Somos dos amigos que tenemos una concesionaria de autos</p>
</div>
<%# <h2 style="text-align:center">Fundadadores</h2> %>
<div class="row d-flex justify-content-center">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Eduardo Garcia</h2>
        <p class="title">CEO & Founder</p>
        <p>Versatil, capaz, entusiasta</p>
        <p>EduardoGarcia@gmail.com</p>
        <p><button class="button">Contacto</button></p>
      </div> 
    </div>
  </div>

  <div class="column">
    <div class="card">
      <%# <img src="/w3images/team2.jpg" alt="Mike" style="width:100%"> %>
      <div class="container">
        <h2>Francisco Marino</h2>
        <p class="title">CEO & Founder</p>
        <p>Versatil, capaz, entusiasta</p>
        <p>FranciscoMarino@gmail.com</p>
        <p><button class="button">Contacto</button></p>
      </div>
    </div>
  </div>
</div>